.AdminMenuBlock {
  width: 300px;
  flex-shrink: 0;
  padding: 15px 0px 15px 15px;
  opacity: 1;
  height: 85vh;
  overflow-y: auto;
}

.AdminMenuBlock-header {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
}

.AdminMenuBlock-items {
}

.AdminMenuBlock-itemfull {
  display: flex;
  flex-direction: column;
}

.AdminMenuBlock-item-active {
  width: 4px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  background: #4f27bf;
}

.AdminMenuBlock-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px 5px 15px 15px;
  cursor: pointer;
  justify-content: space-between;
}

.AdminMenuBlock-item-textAndImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.AdminMenuBlock-item-text {
  color: var(--Text, #1c1c1e);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.AdminMenuBlock-items-children {
  padding-left: 80px;
}

.AdminMenuBlock-item-children {
}

.AdminMenuBlock-burger {
  display: none;
}

@media screen and (orientation: portrait) {
  .AdminMenuBlock-burger {
    display: block;
    width: 30px;
    padding: 10px;
  }
  .AdminMenuBlock {
    opacity: 0;
    display: none;
  }
  .AdminMenuBlock-visible {
    opacity: 1;
    display: block;
    position: absolute;
    margin-left: 40px;
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(2, 0, 97, 0.25);
  }
}
