::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 5px 0px 0px 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px 0px 0px 5px;
  background: #4f27bf;
}
